<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="email"/>
        <label for="password">Password</label>
        <input name="password" id="password" type="password"/>
        <button type="submit">Register</button>
    </form>
</body>
</html>